@charset "UTF-8";
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0; }

body {
  font-weight: 400;
  font-family: 'Lora', serif;
  font-size: 20px;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1; }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #fff; }
  nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    height: auto; }
    nav ul li {
      display: inline-block;
      padding: 10px;
      margin: 0; }
      nav ul li a {
        color: #101f5a;
        text-decoration: none;
        padding: 0px 30px; }
        nav ul li a:hover {
          color: #777; }

/* Section: What if
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#what-if {
  background: url("../img/bg_what_if.jpg") no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center; }
  #what-if .what-if-text {
    flex: 0 1 auto;
    align-self: auto; }

/* Section: Who We Are
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#intro {
  background-size: contain;
  background: url("../img/bg_who_we_are.jpg") no-repeat center center;
  text-align: center; }
  #intro h1, #intro h2 {
    color: #fff; }
  #intro p {
    color: #fff;
    font-size: 1.5em;
    font-style: italic; }

/* Section: What We Do
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#what-we-do .image-left {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  background: url("../img/bg_join_us.jpg") no-repeat center center;
  height: 100%;
  clear: both; }

#what-we-do .pointers {
  margin-bottom: 30px; }
  #what-we-do .pointers h4 {
    margin-bottom: 10px; }

/* Section: Products
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Section: How We Do It
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#how-we-do-it {
  background: #e9e9e9; }
  #how-we-do-it .image-right {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 33.3%;
    background: url("../img/bg_join_us.jpg") no-repeat;
    height: 100%;
    clear: both; }

/* Section: The Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#who-we-are .name {
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

#who-we-are .role {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 0.9em; }

@media (min-width: 550px) {
  #who-we-are .columns {
    margin-left: 0%; }
  #who-we-are .three.columns {
    width: 25%; } }

/* Section: Join Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#join-us {
  background: #e9e9e9; }
  #join-us .image-left {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    background: url("../img/bg_join_us.jpg") no-repeat center center;
    height: 100%;
    clear: both; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  height: 200px; }
