@charset "UTF-8";
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0; }

body {
  font-weight: 400;
  font-family: 'Lora', serif;
  font-size: 20px;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

h1 {
  margin-bottom: 1em; }

section {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 1;
  border-bottom: 1px solid #efefef; }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0px;
  z-index: 2; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        padding: 30px;
        color: #000;
        text-decoration: none; }
        nav ul li a:hover {
          color: #666; }

/* Section: What if
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Section: Who We Are
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#intro {
  background-size: contain;
  background: url("../img/bg_who_we_are.jpg") no-repeat center center; }
  #intro h1, #intro h2 {
    color: #fff; }
  #intro p {
    color: #fff;
    font-size: 1.5em;
    font-style: italic; }

/* Section: What We Do
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#what-we-do .image-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background: url("../img/bg_join_us.jpg") no-repeat center center;
  height: 1080px;
  clear: both; }

#what-we-do .pointers {
  margin-bottom: 30px; }
  #what-we-do .pointers h4 {
    margin-bottom: 10px; }
  #what-we-do .pointers p {
    margin-bottom: 10px; }

/* Section: Products
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Section: How We Do It
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Section: The Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Section: Join Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#join-us .image-left {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  background: url("../img/bg_join_us.jpg") no-repeat center center;
  height: 1000px;
  clear: both; }
