// Variables
// -----------------------------------------------------------------------------

// Colors
$background-color: #FFF;
$text-color: #333;
$inverse-background-color: #000;
$inverse-text-color: #DDD;

// Sizes
$space: 5rem;
$large-space: $space * 2;
$small-space: $space / 2;

// Fonts
$body-font-family: 'Nunito', sans-serif;
$body-font-weight: 400;
$body-font-size: 18px;
$header-font-family: 'Montserrat', sans-serif;
$header-font-weight: 600;


// General
// -----------------------------------------------------------------------------
body {
  background: $background-color;
  color: $text-color;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.2rem; }


.container{
  max-width: 1200px;
}
