// Variables
// -----------------------------------------------------------------------------

// Colors
$background-color: #FFF;
$text-color: #333;
$inverse-background-color: #000;
$inverse-text-color: #DDD;
$light-background-color: #F3F3F3;

// Sizes
$space: 5rem;
$large-space: $space * 2;
$small-space: $space / 2;
$tiny-space: $small-space / 2;

// Fonts
$body-font-family: 'Lato', sans-serif;
$body-font-weight: 400;
$body-font-size: 18px;
$small-font-size: 14px;
$header-font-family: 'Lato', sans-serif;
$header-font-weight: 700;


// General
// -----------------------------------------------------------------------------
body {
  background: $background-color;
  color: $text-color;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.2rem; }

p {
  margin-bottom: 1em;
}
li {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
}

// Youtube responsive embed hack
// https://avexdesigns.com/responsive-youtube-embed/
.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-wrapper iframe,
.youtube-wrapper object,
.youtube-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// header
header{
  -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,.3);
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,.3);

  img{
    margin: 30px 0;
    height: 45px;
  }
}

// footer
footer{
  background-color: $light-background-color;
  padding-top: $small-space;
  padding-bottom: $small-space;


    a{
      text-decoration: none;
      font-size: $small-font-size;
      color: #999;
    }

    .footer-container{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      @media (min-width: 550px){
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    .right{
      margin-top: $small-space/2;

      a{
        margin-right: $small-space/2;
      }
      @media (min-width: 550px){
        text-align: right;
        margin-top: 0
      }
    }

    .left{
        @media (min-width: 550px){

        }
    }
}

//logo

#logo{

margin: $small-space 0;
    a{
      font-family: $header-font-family;
      font-weight: $header-font-weight;
      color: $inverse-background-color;
      text-decoration: none;
      font-size: 2.8rem;
      line-height: 2.5rem;
    }
}
