// Variables
// -----------------------------------------------------------------------------

// Colors
$background-color: #FFF;
$text-color: #333;
$inverse-background-color: #000;
$inverse-text-color: #DDD;

// Sizes
$space: 5rem;
$large-space: $space * 2;
$small-space: $space / 2;

// Fonts
$body-font-family: 'Nunito', sans-serif;
$body-font-weight: 400;
$body-font-size: 18px;
$header-font-family: 'Montserrat', sans-serif;
$header-font-weight: 600;


// General
// -----------------------------------------------------------------------------
body {
  background: $background-color;
  color: $text-color;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.2rem; }

section {
  // Position
  position: relative;
  // Size
  padding-top: $large-space;
  padding-bottom: $large-space;
}

.section-header {
  text-align: center;
  margin-bottom: $space;
}

.container{
  max-width: 1200px;
}

// Components
// -----------------------------------------------------------------------------

#introduction {
  // Appearance
  background-image: url('../img/bg_what_if.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $inverse-text-color;
  // Children
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $inverse-background-color;
    opacity: 0.7;
  }
}


#what-we-do {
  // Children
  &::before {
    content: "";
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    // Display
    display: none;
    @media (min-width: 550px) { display: block; }
    // Appearance
    background-image: url('../img/bg_what_we_do.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#stuff-we-work-on{
  .row{
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
  h3{
    margin-top: $small-space;
  }
  #see-more-work {
    margin-top: $space;
    float: right;
  }
}


#how-we-do-it {
  &::before {
    content: "";
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    // Display
    display: none;
    @media (min-width: 550px) { display: block; }
    // Appearance
    background-image: url('../img/bg_how_we_do_it.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  h2{
    margin-bottom: $space;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#join-us{
  .column
  {
    .content{
      padding-top: $small-space;
      padding-bottom: $small-space;
    }
  }

}
