@import 'common';

// Index Page Style
// -----------------------------------------------------------------------------

section {
  // Position
  position: relative;
  // Size
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section-header {
  text-align: center;
  margin-bottom: $space;
}

// Components
// -----------------------------------------------------------------------------

header{
  img{
    margin: 20px 0;
  }
}
#introduction {
  // Appearance
  background-image: url('../img/bg_what_if.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $inverse-text-color;
  // Children
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $inverse-background-color;
    opacity: 0.6;
  }
}


#what-we-do {
  // Appearance
  background: $light-background-color;
  // Children
  &::before {
    content: "";
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    // Display
    display: none;
    @media (min-width: 550px) { display: block; }
    // Appearance
    background-image: url('../img/bg_what_we_do.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  h2{
    margin-bottom: $space;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#stuff-we-work-on{
  .row{
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }

  }
  h3{
    margin-top: $small-space;
  }
  #see-more-work {
    margin-top: $space;
    float: right;
  }
}


#how-we-work {
  // Appearance
  background: $light-background-color;
  // Children
  &::before {
    content: "";
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    // Display
    display: none;
    @media (min-width: 550px) { display: block; }
    // Appearance
    background-image: url('../img/bg_how_we_do_it.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  h2{
    margin-bottom: $space;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#join-us{
  .column
  {
    .content{
      padding-top: $small-space;
      padding-bottom: $small-space;
    }
  }

}

footer{
  background-color: $light-background-color;
  padding-top: $small-space;
  padding-bottom: $small-space;

    p{
      font-size: $small-font-size;
      color: #aaa;
    }

    img{
      float: right;
    }

}
