@import 'common';

// Index Page Style
// -----------------------------------------------------------------------------

$section-padding: 10rem;
section {
  // Position
  position: relative;
  // Size
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.section-header {
  text-align: center;
  margin-bottom: $space;
}

// Components
// -----------------------------------------------------------------------------


#introduction {
  // Appearance
  background-image: url('../img/bg_what_if.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $inverse-text-color;
  // Children
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $inverse-background-color;
    opacity: 0.6;
  }
}


#what-we-do {
  // Appearance
  background: $light-background-color;
  // Children
  &::before {
    content: "";
    // Position
    position: relative;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    margin-top: -$section-padding;
    margin-bottom: $section-padding/2;
    height: 100vh;
    max-height: 60vw;
    // On desktop display to the right instead of the top
    @media (min-width: 550px) { 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
      height: auto;
      max-height: 100%;
    }
    // Display
    display: block;
    // Appearance
    background-image: url('../img/bg_what_we_do.png');
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
  }

  h2{
    margin-bottom: $space;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#stuff-we-work-on{
  .row{
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }

  }
  h3{
    margin-top: $small-space;
  }
  #see-more-work {
    margin-top: $space;
    float: right;
  }
}


#how-we-work {
  // Appearance
  background: $light-background-color;
  // Children

  &::before {
    content: "";
    // Position
    position: relative;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    margin-top: -$section-padding;
    margin-bottom: $section-padding/2;
    height: 100vh;
    max-height: 60vw;
    // On desktop display to the right instead of the top
    @media (min-width: 550px) { 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;
      margin-top: 0;
      margin-bottom: 0;
      height: auto;
      max-height: 100%;
    }
    // Display
    display: block;
    // Appearance
    background-image: url('../img/bg_how_we_do_it.png');
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
  }

  h2{
    margin-bottom: $space;
  }

  p {
    margin-bottom: $space;
    &:last-child { margin-bottom: 0; }
  }
}

#join-us{
  .column
  {
    .content{
      padding-top: $small-space;
      padding-bottom: $small-space;
    }
  }

}
