@import 'common';

// Jobs Page Style
// -----------------------------------------------------------------------------
header{
  margin-bottom: $space;
}

section {
  padding-top: $small-space;
  padding-bottom: $small-space;
  .container{
    max-width: 720px;
  }
}

h3{
  font-size: 1.8rem;
  margin-top: $space;
}

footer{
  margin-top: $space;
}

// Components
// -----------------------------------------------------------------------------
#apply{
  text-align: center;
}
