@import 'common';

// Jobs Page Style
// -----------------------------------------------------------------------------

section {
  padding-top: $small-space;
  padding-bottom: $small-space;
}

// Components
// -----------------------------------------------------------------------------
#job-intro{
  p{
    font-style: italic;
  }
}
#apply{
  .row{
    text-align: center;
  }
}
