/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$link: #000;
$hover: #999;


/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*{
  margin: 0;
  padding: 0;
}

body{
  font-weight: 400;
  font-family: 'Lora', serif;
  font-size: 20px;
  background: #fff;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1{
  margin-bottom: 1em;
}

section{
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 1;
  border-bottom: 1px solid #efefef;
}

.container{
  // border: 1px solid red;
}

.row{
  // border: 1px solid yellow;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav{
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #fff;

  ul{
    list-style-type: none;
    margin: 0; // to counter default style from Skeleton
    text-align: center;
    height: auto;;
    // padding: 20px;
      li{
        display: inline-block;
        padding: 10px;
        margin: 0; // to counter default style from Skeleton

        a{
          color: $link;
          text-decoration: none;
          padding: 0px 30px;

          &:hover{
              color: $hover;
            }
        }
    }
  }
}




// What if
// Who we are
// What we do
// Why it matters
// What can you do?
//


/* Section: What if
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#what-if{
  // background-size: contain;
  // background: url('../img/bg_what_if.jpg') no-repeat center center;
  background: #ffd8d8;


}

/* Section: Who We Are
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#intro{
  background-size: contain;
  background: url('../img/bg_who_we_are.jpg') no-repeat center center;
  h1,h2,{
    color: #fff;
  }
  p{
    color: #fff;
    font-size: 1.5em;
    font-style: italic;
  }

}

/* Section: What We Do
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#what-we-do{
  // background: #ffd8d8;

  .image-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    background: url('../img/bg_join_us.jpg') no-repeat center center;
    height: 1080px; //TOFIX
    clear: both;
  }
  .pointers{
    margin-bottom: 30px;
    h4{
      margin-bottom: 10px;
    }

  }
}

/* Section: Products
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#products-we-make{
  // background: #bde5ff;

}

/* Section: How We Do It
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#how-we-do-it{
  // background: #d3d3d3;
    #image-half{
      // background: #eee;
    }
}

/* Section: The Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#who-we-are{
  // background: #ffd8d8;
    .name{
      // margin: 0 auto;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
    .role{
      text-align: center;
      margin-bottom: 20px;
      font-style: italic;
      font-size: 0.9em;
    }
    @media (min-width: 550px){
      .columns {
        margin-left: 0%; }

      .three.columns {
      width: 25%;
      }
    }
}

/* Section: Join Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#join-us{
  // background: pink;
  .image-left{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    background: url('../img/bg_join_us.jpg') no-repeat center center;
    height: 1000px; //TOFIX
    clear: both;
  }
}
